---
# main file
---
@import 'less_is_more';

.dev {
  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1.6rem;

    img {
      width: 25rem;
    }
  }
}
