<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="{{ page.class | default: 'home' }}">
    <div class="container">
      <div class="home-logo">
        <a href="{{ '/' | relative_url }}" class="home-header">
          <img src="{{ '/assets/images/home-logo.png' | relative_url }}" alt="">
        </a>
      </div>
      {%- include header.html -%}
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {%- include footer.html -%}
  </body>
</html>
